{#
/**
 * @file
 * Default theme implementation for the signature canvas.
 *
 * Available variables:
 * - id: The canvas ID.
 * - width: The canvas width.
 * - height: The canvas height.
 * - attributes: HTML attributes.
 *
 * @see template_preprocess_signature_canvas()
 *
 * @ingroup themeable
 */
#}
<canvas{{ attributes.addClass(['signature']) }}></canvas>
<div class="clear-signature-link">
  <a href="#{{ id }}">{{ 'Clear signature'|t }}</a>
</div>
